/*STYLE ENTIRE MEETING SECTION BUTTON*/
.meetingSection {
  border: 1px solid green;
  margin: 2px;
  width: 45px;
  height: 25px;
  padding: 2px 6px;
  text-align: center;
  border-radius: 2px;
  background-color: white;
}

.meetingSection:hover {
  background-color: lightcyan
}