/*STYLE ENTIRE MEETING SECTION BUTTON*/
.meetingSection {
  border: 2px solid #8BC34A;
  margin: 2px;
  width: 45px;
  height: 25px;
  padding: 2px 6px;
  text-align: center;
  border-radius: 2px;
}

.meetingSection:hover {
  border: 1px solid blue;
}
