/*STYLE ENTIRE SHORTLIST COMPONENT*/
#shortlist {
  border-top: solid gray 1px;
  max-width: var(--sidebarWidth);
}

/*STYLE SHORTLIST TITLE*/
#shortlist > p {
  font-size: 14px;
  color: #111;
  margin: 0;
  padding: 10px 0;
}
