#search {
  background-color: white;
  color: #333;
  font-weight: bold;
  border-top: solid #df744a 30px;
  height: auto;
}

.searchResults {
  position: relative;
  margin: 0 auto;
  overflow: scroll;
  border: solid #e1e1e1 1px;
  width: 80%;
  max-height: 500px;
  transition: height .5s linear;
  background-color: white;
  z-index: 2;
}

.searchBar {
  width: 80%;
  height: 38px;
  margin: 10px 0;
  font-size: inherit;
}
