#search {
  background-color: white;
  color: #333;
  font-weight: bold;
  border-top: solid #4d82cb 20px;
  height: 50%
}

.searchResults {
  overflow: scroll;
}

.searchBar {
  width: 75%;
  height: 38px;
  margin-top: 10px;
  font-size: inherit;
}
