#calendars {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}

#calendarFall,
#calendarWinter {

    font-family: 'Fira Sans', sans-serif;
    padding: 0 2px;
    width: auto;
    height: auto;
    border-radius: 2px;
    display: grid;
    --colWidth: 60px;
    --rowheight: 28px;
    grid-template-columns: 
        [start]             var(--colWidth) 
        [monday]            var(--colWidth) 
        [mondayConflict]    var(--colWidth) 
        [tuesday]           var(--colWidth) 
        [tuesdayConflict]   var(--colWidth) 
        [wednesday]         var(--colWidth) 
        [wednesdayConflict] var(--colWidth) 
        [thursday]          var(--colWidth) 
        [thursdayConflict] var(--colWidth) 
        [friday]            var(--colWidth) 
        [fridayConflict]    var(--colWidth) 
        [end];
    grid-template-rows:
        [start]    var(--rowheight)
        [time]     var(--rowheight)
        [time8]    var(--rowheight)
        [time830]  var(--rowheight)
        [time9]    var(--rowheight)
        [time930]  var(--rowheight)
        [time10]   var(--rowheight)
        [time1030] var(--rowheight)
        [time11]   var(--rowheight)
        [time1130] var(--rowheight)
        [time12]   var(--rowheight)
        [time1230] var(--rowheight)
        [time13]   var(--rowheight)
        [time1330] var(--rowheight)
        [time14]   var(--rowheight)
        [time1430] var(--rowheight)
        [time15]   var(--rowheight)
        [time1530] var(--rowheight)
        [time16]   var(--rowheight)
        [time1630] var(--rowheight)
        [time17]   var(--rowheight)
        [time1730] var(--rowheight)
        [time18]   var(--rowheight)
        [time1830] var(--rowheight)
        [time19]   var(--rowheight)
        [time1930] var(--rowheight)
        [time20]   var(--rowheight)
        [time2030] var(--rowheight)
        [time21]   var(--rowheight)
        [time2130] var(--rowheight)
        [time22]   var(--rowheight)
        [time2230] var(--rowheight)
        [end];
    -webkit-box-shadow: 0px 10px 22px 2px rgba(118,122,128,.5);
    -moz-box-shadow: 0px 10px 22px 2px rgba(118,122,128,.5);
    box-shadow: 0px 10px 22px 2px rgba(118,122,128,.5);
}
/*monday - friday text*/
.weekday {
    grid-row: time / end;
    text-align:center;
    color: #111;
    font-size: 18px;
    font-weight: normal;
    padding-top: 5px;
}

.line {
    border-right: 1px solid #DDD;
    z-index: 2;
}

/*8am - 10pm text*/
.timeslot {
    color: #111;
    grid-column: start / end;
    padding-left: 4px;
    text-align: left;
}


.time {
    grid-column: start / end;
    text-align: left;
    padding-left: 4px;
}

.timeText {
    margin-top: 8px;
}

/*half hour rows*/
.halfHour {
    background-color: #F4F4F4;
    border-bottom: 1px solid #BDBDBD;
}

.first {
    border-top: 1px solid #BDBDBD;

}

.term {
  font-weight: bold;
  text-align: left;
  padding-left: 5px;
  color: #df744a;
}
