#calendars {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

#calendarFall {
    font-family:sans-serif;
    padding: 10px;
    width:auto;
    height: 800px;
    display: grid;
    grid-template-columns: [start] 100px [monday] 100px [tuesday] 100px [wednesday] 100px [thursday] 100px [friday] 100px [end];  
    grid-template-rows: 
      [start] 1fr 
      [time8] 1fr 
      [time830] 1fr 
      [time9] 1fr 
      [time930] 1fr 
      [time10] 1fr 
      [time1030] 1fr 
      [time11] 1fr 
      [time1130] 1fr 
      [time12] 1fr 
      [time1230] 1fr 
      [time13] 1fr 
      [time1330] 1fr 
      [time14] 1fr 
      [time1430] 1fr 
      [time15] 1fr 
      [time1530] 1fr 
      [time16] 1fr 
      [time1630] 1fr 
      [time17] 1fr 
      [time1730] 1fr 
      [time18] 1fr 
      [time1830] 1fr 
      [time19] 1fr 
      [time1930] 1fr 
      [time20] 1fr 
      [time2030] 1fr 
      [time21] 1fr 
      [time2130] 1fr 
      [time22] 1fr  
      [time2230] 1fr 
      [end]  
}

#calendarWinter {
    font-family:sans-serif;
    padding: 10px;
    width: auto;
    height: 800px;
    display: grid;
    grid-template-columns: [start] 100px [monday] 100px [tuesday] 100px [wednesday] 100px [thursday] 100px [friday] 100px [end];  
    grid-template-rows: 
      [start] 1fr 
      [time8] 1fr 
      [time830] 1fr 
      [time9] 1fr 
      [time930] 1fr 
      [time10] 1fr 
      [time1030] 1fr 
      [time11] 1fr 
      [time1130] 1fr 
      [time12] 1fr 
      [time1230] 1fr 
      [time13] 1fr 
      [time1330] 1fr 
      [time14] 1fr 
      [time1430] 1fr 
      [time15] 1fr 
      [time1530] 1fr 
      [time16] 1fr 
      [time1630] 1fr 
      [time17] 1fr 
      [time1730] 1fr 
      [time18] 1fr 
      [time1830] 1fr 
      [time19] 1fr 
      [time1930] 1fr 
      [time20] 1fr 
      [time2030] 1fr 
      [time21] 1fr 
      [time2130] 1fr 
      [time22] 1fr  
      [time2230] 1fr 
      [end]  
}

.weekday {
    border-right: 1px dashed gray;
    grid-row: start / end;
    text-align:center;
    color: #333;
}

.timeslot {
    color: #333;
    border-top: 1px dotted gray;
    grid-column: start / end;
    padding-left: 4px;
    text-align: left;
}