/*STYLE NAV BAR*/
.navbar {
  grid-area: navbar;
  font-size: 12px;
  height: 40px;
  width: 100%;
  background-color: #FFAD00;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

@media screen and (max-width:1030px) {
  .navbar {
    height: 80px;
  }

  #search {
    border-top: 80px solid #df744a;
  }

  #calendars {
    margin-top: 30px;
  }
}


nav > button, #printview >button, #URLGenerator button {
  text-decoration: none;
  color: #111;
  width: 160px;
  height: auto;
  background: white;
  padding: 6px 10px;
  border: 1px solid;
  border-color: #FF5A51;
  cursor: pointer;
  letter-spacing: 1px;
  border-radius: 4px;
  margin: 5px;
  outline: none;
  position: relative;
  top:-2px;
  box-shadow: 0 2px 0px #c52028;  
  
}

#printview > button:focus, nav > button:focus, #URLGenerator button:focus,
#printview > button:hover, nav > button:hover, #URLGenerator button:hover  {
  /* background-color: #FF5A51;
  color: white; */
  top: -4px;
  box-shadow: 0 4px 0px #c52028;  

}

nav button:active, #printview > button:active, #URLGenerator button:active {
  top: -1px;
  box-shadow: 0 1px 0px #c52028;  
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

