html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
    background-image: url("../monkeys.jpg");
  
}

* {
  box-sizing: border-box;
  color: #212121;
  font-family: 'Fira Sans', sans-serif;
}


#App {
  --colWidth: 55px;
  --rowheight: 2.5vh;
  --titleSize: 100%;
  --sidebarWidth: 300px;
  --shortListFontSize: 14px;


  background-color: rgba(0, 0, 0, 0);
    background-image: url("../monkeys.jpg");
  
  box-sizing: border-box;
  position: relative;
  background-color: white;
  text-align: center;
  height: 100%;
  display: grid;
  grid-template-columns: var(--sidebarWidth) 1fr;
  grid-template-rows: 35px 1fr;
  grid-column-gap: 10px;
  grid-template-areas:
    "navbar  navbar"
    "sidebar calendars";



}




/***PRINT CALENDAR***/
@media print {
  body {
    background-image: none !important;
  }
  
  * {
    box-shadow: none !important;
    background-image: none !important;
    position: relative 
  }
  .App {
    background-image: none !important;
    
    grid-template-areas:
      "calendars"  !important;
      grid-template-columns: 1fr !important;
  }
  .navbar {
    display: none !important;
  }
  #sidebar {
    display: none !important;
    background-image: none !important;
    
  }
  #calendars {
    width: 100% !important;
    position: absolute !important;
    top: 10px !important;
  }
  #calendars > div {
    width: 50% !important;
    --colWidth: 35px !important;
    --rowheight: 18px !important;
  }
  .eachCal > div {
    font-size: 12px !important;    
  }
  button {
    display: none !important;
  }

  .entryText.courseCode {
    font-weight: normal !important;
    font-size: 10pt !important;
  }

  .entryText.meetingSection {
    font-weight: normal;
    font-size: 10pt;
  }
}
