
.searchResult {
  margin: 10px;
  border-radius: 3px;
  background-color: white;
  width: 90%;
  border: 1px solid lightgray;

}

.searchResult:focus,
.searchResult:hover{
  border-right: 2px solid green;
  background-color: lightgreen;
}


.course {
  margin: 2px;
  text-align: left;
  padding: 5px;
}

.courseCode {
  margin: 0;
  font-size: 18px;
  display: inline-block;
}

.courseName {
  margin: 0;
  font-size: 14px;
}
