* {box-sizing: border-box;}

.App {
  background-color: lightskyblue;
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-template-areas: "search calendars" 
  
}

#calendars {
  grid-area: calendars;
  margin: 10px;
  border-radius: 4px;

}

#search {
  background-color: #eee;
  border-radius: 4px;
  margin: 10px;
  position: fixed;
  height: 98%;
  width: 200px;
  -webkit-box-shadow: 0px 10px 42px 2px rgba(118,122,128,1);
  -moz-box-shadow: 0px 10px 42px 2px rgba(118,122,128,1);
  box-shadow: 0px 10px 42px 2px rgba(118,122,128,1);
}