/*STYLE ENTIRE SHORTLIST ENTRY COMPONENT*/
.shortlistEntry {
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
  border: solid #00BCD4 2px;
  border-left: solid #00BCD4 8px;
  text-align: left;
  font-weight: bold;
  position: relative;
  min-height: 100px;
  -webkit-transition: height 1s linear;
  -moz-transition: height 1s linear;
  transition: height 1s linear;
  
}

/*STYLE SHORTLIST ENTRY ELEMENTS*/
.showCourseInformation {
  padding: 5px;
  overflow: hidden;
}

.shortlistEntryCode {
  margin: 0;
  font-size: 18px;
}

.shortlistEntryName {
  margin-top: 7px;
  font-size: 14px;
  width: 220px;
  
}

.shortlistEntryDesc.title {
  font-size: 16px;
  margin: 0;
  padding: 10px 0 3px 0;
}

.shortlistEntryDesc {
  font-size: 14px;
  font-weight: normal;
  color: #757575;
  margin: 0;
  padding-bottom: 18px;
  
}

/*STYLE SHORTLIST ENTRY REMOVE AND EXPAND BUTTON*/
button.remove, .expandArrow {
  border: 2px solid transparent;
  border-radius: 2px;
  background: none;
  position: absolute;
  right: 2px;
  box-sizing: content-box;
  cursor: pointer;
  transition: all 250ms linear;
  transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  width: 26px;
  height: 26px;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

button.remove {
  top: 2px;
}

button.remove:hover {
  box-sizing: content-box;
  background-color: lightpink;
  border: 2px solid red;  
}

.expandArrow {
  bottom: 2px;
  font-size: 20px;
}

.expandArrow:hover, .expandArrow:focus  {
  color: blue;
  background-color: lightblue;
  border: 2px solid blue;
}

.fade-enter {
  transition: all 300ms ease-in;
  -webkit-transition: all 300ms ease-in ;
  -moz-transition: all 300ms ease-in ;
  opacity:0.01;
  height: 0px;
  min-height: 0px;
  
}


.fade-enter.fade-enter-active, .fade-enter.fade-enter-active .shortlistEntryName {
  opacity:1;
  height: 100px;
  min-height: 100px;
  
}


.fade-enter button {
  transition: all 50ms ease-out;
  -webkit-transition: all 50ms ease-out ;
  -moz-transition: all 50ms ease-out ;
  height: 0px;
  opacity: 0.01
}

.fade-enter.fade-enter-active button {
  height: 26px;
  opacity: 1
}

.fade-leave, .fade-leave * {

  opacity: 1;
  height: 100px
}

.fade-leave svg {
  transition: all 50ms ease-out;
  -webkit-transition: all 50ms ease-out ;
  -moz-transition: all 50ms ease-out ;
  height: 26px
}

.fade-leave.fade-leave-active svg {
  height: 0px;
}

.fade-leave.fade-leave-active, .fade-leave.fade-leave-active *  {
    -webkit-transition: all 250ms ease-in;
  -moz-transition: all 190ms ease-in;
  transition: all 250ms ease-in;
  opacity: 0.01;
  min-height: 0px;
  height: 0;
}

.courseInfoFade-enter {
  max-height:0px;
}

.courseInfoFade-enter.courseInfoFade-enter-active {
  transition: max-height 500ms ease-in;
  max-height: 1000px;
}

.courseInfoFade-leave p {
  font-size: 14px;
  height: 100%;
  opacity: 1
}

.courseInfoFade-leave.courseInfoFade-leave-active p, .courseInfoFade-leave.courseInfoFade-leave-active button {
  transition: all 300ms ease-in;
  opacity: 0;
  font-size: 0;
  height: 0;
}