/*STYLE ENTIRE SHORTLIST ENTRY COMPONENT*/
.shortlistEntry {
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
  border: solid #00BCD4 2px;
  border-left: solid #00BCD4 8px;
  text-align: left;
  font-weight: bold;
  position: relative;
}

/*STYLE SHORTLIST ENTRY ELEMENTS*/
.showCourseInformation {
  padding: 5px;
}

.shortlistEntryCode {
  margin: 0;
  font-size: 18px;
}

.shortlistEntryName {
  margin: 0;
  font-size: 14px;
}

.shortlistEntryDesc.title {
  font-size: 16px;
  margin: 0;
  padding: 10px 0 3px 0;
}

.shortlistEntryDesc {
  font-size: 14px;
  font-weight: normal;
  color: #757575;
  margin: 0;
  padding-bottom: 18px;
}

/*STYLE SHORTLIST ENTRY REMOVE AND EXPAND BUTTON*/
.remove, .expandArrow {
  border: 2px solid white;
  background: none;
  position: absolute;
  right: 2px;
  box-sizing: content-box;
  border-radius: 2px;
}

.remove {
  top: 2px;
}

.remove:hover, .remove:focus  {
  color: red;
  background-color: pink;
  border: 2px solid red;
}

.expandArrow {
  bottom: 2px;
  color: #b2b2b2;
}

.expandArrow:hover, .expandArrow:focus  {
  color: blue;
  background-color: lightblue;
  border: 2px solid blue;
}
